<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <h2>Our History</h2>
        <p>Founded in 1997, Gordon Ramsay Restaurants comprises the restaurant business of acclaimed chef, restaurateur, TV personality and author Gordon Ramsay. It is one of the largest privately-owned restaurant groups in the UK, with additional restaurants internationally across the USA, France, Dubai, Singapore and more.</p>
        <p>To date, Gordon Ramsay holds a total of <em>7 Michelin stars</em>  across the restaurant group worldwide, including the flagship venue Restaurant Gordon Ramsay, which has held three Michelin-stars for more than 2 decades. As well as fine dining, the group has expanded to include more casual dining restaurants offering a wide variety of guest experiences around the globe such as Bread Street Kitchen & Bar, Gordon Ramsay Bar & Grill, Gordon Ramsay Steak and Gordon Ramsay Hell’s Kitchen. </p>
      </div>
      <div fxFlex="30">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Started</dt>
              <dd>1 Feb. 1997</dd>
              <dt>Major Stake Holder</dt>
              <dd>Gordon Ramsay Foods Inc.</dd>
              <dt>Last Year's Turnover</dt>
              <dd>$7,777,777</dd>
              <dt>Employees</dt>
              <dd>40</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>This lamb is so undercooked, it’s following Mary to school!</h3>
        <footer>-- Gordon Ramsay,
          <cite>100 of Gordon Ramsay's Funniest Quotes and Insults</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>



    
    <div fxFlex>
      <h2>Corporate Leadership</h2>
      <mat-list *ngIf="leaders" [@expand]>
      <mat-list-item *ngFor="let leader of leaders">
        <img mat-list-avatar src="{{BaseURL + leader.image}}" alt={{leader.name}}>
        <h4 matLine>{{leader.name}} {{leader.abbr}}</h4>
        <p matLine>{{leader.designation}}</p>
        <p matLine>{{leader.description}}</p>
      </mat-list-item>
    </mat-list>
    <div [hidden]="leaders || leadersErrMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="leadersErrMess">
      <h2>Error</h2>
      <h4>{{leadersErrMess}}</h4>
    </div>
    
  </div>
